

<div class="relative bg-lime-700">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover" src="/images/cross.webp" alt="">
    <div class="absolute inset-0 bg-lime-700 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Welcome to Grace United Methodist Church!</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Located in Franklin, Indiana. Service times are blank and blank on Sunday, blank on Saturday. Sunday School is at blank. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8">
        <div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
          <div class="text-base leading-7">
            <p class="font-semibold text-white"><a href="#">Livestream Service <span aria-hidden="true">&rarr;</span></a></p>
            <p class="mt-2 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus harum quo aperiam, odio eligendi est fuga quas quam?</p>
          </div>
        </div>
        <div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
          <div class="text-base leading-7">
            <p class="font-semibold text-white"><a href="#">Livestream Attendance <span aria-hidden="true">&rarr;</span></a></p>
            <p class="mt-2 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus harum quo aperiam, odio eligendi est fuga quas quam?</p>
          </div>
        </div>
        <div class="flex gap-x-4 rounded-xl bg-white/5 p-6 ring-1 ring-inset ring-white/10">
          
          <div class="text-base leading-7">
            <p class="font-semibold text-white"><a href="#">Prayer Requests <span aria-hidden="true">&rarr;</span></a></p>
            <p class="mt-2 text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus harum quo aperiam, odio eligendi est fuga quas quam?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
