<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl space-y-16 lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 pt-16 lg:grid-cols-3">
          <div>
            <h2 class="text-3xl font-bold tracking-tight text-gray-900">Follow Us on Facebook</h2>
            <p class="mt-4 leading-7 text-gray-600">There are multiple ways to connect with us!</p>
          </div>
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
            <div class="rounded-2xl bg-gray-50 p-10">
                <h3 class="text-base font-semibold leading-7 text-gray-900">Test</h3>
                <p class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                
              </div>
            <div class="rounded-2xl bg-gray-50 p-10">
                <h3 class="text-base font-semibold leading-7 text-gray-900">Test</h3>
                <p class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                
              </div>
              <div class="rounded-2xl bg-gray-50 p-10">
                <h3 class="text-base font-semibold leading-7 text-gray-900">Test</h3>
                <p class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
  